.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameCanvas{
    background-color: rgba(0, 0, 0, 0);
    width: 600px;
    height: 600px;
}
#grid{
    display: grid;
    grid-template-rows: repeat(30, 19px);
    grid-template-columns: repeat(30, 19px);
    grid-gap: 1px;
}
.tile{
    background-color: darkslategrey;
}
body{
    background-color: rgba(15, 1, 63, 1);
}
h1, h2{
    color:white;
    
}

